<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.100464743379372 -0.273417797162494 0.231369380364405"
        rpy="0 0 0" />
      <mass
        value="8.12765796417228" />
      <inertia
        ixx="0.113381267165392"
        ixy="-3.46714920758339E-18"
        ixz="5.52188785349089E-19"
        iyy="0.104302535100205"
        iyz="7.39699722855357E-05"
        izz="0.193324449577809" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.100465 -0.273141 0.183859"
        rpy="0 0 0" />
      <geometry>
        <box size="0.360000 0.342000 0.180000" />
      </geometry>
    </collision>
  </link>
  <link
    name="pad_link_right">
    <inertial>
      <origin
        xyz="-3.55729214853301E-05 -0.105 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="1.05976991118431" />
      <inertia
        ixx="0.00120769274628234"
        ixy="5.29395592033938E-23"
        ixz="7.1521676869927E-20"
        iyy="0.0023325641456101"
        iyz="-1.63953433757208E-20"
        izz="0.00141046839633323" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pad_link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.000009 -0.105002 0.000000"
        rpy="0 0 0" />
      <geometry>
        <box size="0.120000 0.302032 0.110000" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pad_joint_right"
    type="revolute">
    <origin
      xyz="-0.0145352566206275 -0.168456056407975 0.153440174945304"
      rpy="-3.14159265358979 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="pad_link_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3491"
      upper="0.3491"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="hip_frame_link_right">
    <inertial>
      <origin
        xyz="-0.0078753503216839 -0.0307485208640013 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="1.51193274122872" />
      <inertia
        ixx="0.00230798720358944"
        ixy="-0.000347926290296318"
        ixz="-1.56794323048187E-19"
        iyy="0.00722477501190136"
        iyz="3.20740202436264E-19"
        izz="0.00595941566724505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_frame_link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.003825 -0.032789 -0.000041"
        rpy="0 0 0" />
      <geometry>
        <box size="0.210000 0.078392 0.120000" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_frame_joint_right"
    type="fixed">
    <origin
      xyz="0.01 -0.105 0.097"
      rpy="0 0 1.5707963267949" />
    <parent
      link="pad_link_right" />
    <child
      link="hip_frame_link_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_right_1">
    <inertial>
      <origin
        xyz="0.0700000000000471 0.00650000000000001 -4.08922895545061E-13"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.45877499995411E-05"
        ixy="-1.29893999573882E-21"
        ixz="1.53969159877266E-15"
        iyy="0.000338559690951383"
        iyz="2.19953294954733E-21"
        izz="0.000317254074187252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.069889 0.006437 0.000104"
        rpy="0 0 0" />
      <geometry>
        <box size="0.191952 0.013000 0.048577" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_right_1"
    type="revolute">
    <origin
      xyz="0.0510000000000153 -0.06 0"
      rpy="3.14159265358979 -1.10816260407562 0" />
    <parent
      link="hip_frame_link_right" />
    <child
      link="thigh_right_1" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="20" velocity="50" />
  </joint>
  <link
    name="calf_right_link_1">
    <inertial>
      <origin
        xyz="-0.0900000000007728 -0.00650000000000001 2.68611521914153E-13"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328743E-05"
        ixy="8.87220433645458E-22"
        ixz="9.29244271048908E-16"
        iyy="0.000603757766611383"
        iyz="5.25358541500018E-22"
        izz="0.000577401649847252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_right_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.089940 -0.006508 -0.000709"
        rpy="0 0 0" />
      <geometry>
        <box size="0.231079 0.013000 0.054738" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_right_1"
    type="revolute">
    <origin
      xyz="0.13999999999996 0 0"
      rpy="3.14159265358979 -1.31007351696931 3.14159265358979" />
    <parent
      link="thigh_right_1" />
    <child
      link="calf_right_link_1" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="20" velocity="50" />
  </joint>
  <link
    name="wheel_link_right">
    <inertial>
      <origin
        xyz="4.36872760189999E-14 -0.015 9.0116802908824E-13"
        rpy="0 0 0" />
      <mass
        value="0.234111484545512" />
      <inertia
        ixx="0.00016481448512004"
        ixy="-1.38494337144744E-21"
        ixz="-2.5410988417629E-21"
        iyy="0.000294512247558254"
        iyz="3.31377145312428E-21"
        izz="0.00016481448512004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wheel_link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.015 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
        <cylinder radius="0.051" length="0.030" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_right"
    type="continuous">
    <origin
      xyz="-0.180000000000025 0.000999999999999987 0"
      rpy="0 0.928798996028179 3.14159265358979" />
    <parent
      link="calf_right_link_1" />
    <child
      link="wheel_link_right" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="thigh_right_2">
    <inertial>
      <origin
        xyz="0.069999999999991 0.00649999999999999 -2.58015830922886E-13"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.4587749999541E-05"
        ixy="1.88147642629246E-21"
        ixz="1.057070860152E-15"
        iyy="0.000338559690951382"
        iyz="-1.95327199936759E-21"
        izz="0.000317254074187251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.069889 0.006437 0.000104"
        rpy="0 0 0" />
      <geometry>
        <box size="0.191952 0.013000 0.048577" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_right_2"
    type="revolute">
    <origin
      xyz="-0.0510000000000018 -0.078 0"
      rpy="0 -0.886862904121189 3.14159265358979" />
    <parent
      link="hip_frame_link_right" />
    <child
      link="thigh_right_2" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="0" velocity="50" />
  </joint>
  <link
    name="calf_right_link_2">
    <inertial>
      <origin
        xyz="-0.0899999999994293 0.00649999999999999 3.56492613207138E-13"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328744E-05"
        ixy="-3.61816630030017E-21"
        ixz="2.01531838634784E-15"
        iyy="0.000603757766611383"
        iyz="7.34832128959888E-23"
        izz="0.000577401649847252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_right_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.089940 0.006492 -0.000709"
        rpy="0 0 0" />
      <geometry>
        <box size="0.231079 0.013000 0.054738" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_right_2"
    type="revolute">
    <origin
      xyz="0.140000000000064 0.013 0"
      rpy="3.14159265358979 1.39896599112596 3.14159265358979" />
    <parent
      link="thigh_right_2" />
    <child
      link="calf_right_link_2" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="0" velocity="50" />
  </joint>
  <link
    name="pad_link_left">
    <inertial>
      <origin
        xyz="-3.5572921485344E-05 -0.105 2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="1.05976991118431" />
      <inertia
        ixx="0.00120769274628234"
        ixy="2.59403840096629E-21"
        ixz="-2.54588656168918E-19"
        iyy="0.0023325641456101"
        iyz="6.7871047172724E-21"
        izz="0.00141046839633323" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pad_link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.000009 -0.105002 0.000000"
        rpy="0 0 0" />
      <geometry>
        <box size="0.120000 0.302032 0.110000" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pad_joint_left"
    type="revolute">
    <origin
      xyz="0.215464743379373 -0.378456056407975 0.153440174945304"
      rpy="3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="pad_link_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3491"
      upper="0.3491"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="hip_frame_link_left">
    <inertial>
      <origin
        xyz="-0.0078753503216839 0.0307485208640013 -6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="1.51193274122872" />
      <inertia
        ixx="0.00230798720358944"
        ixy="0.000347926290296318"
        ixz="-1.38362588950127E-18"
        iyy="0.00722477501190135"
        iyz="1.63446867562716E-19"
        izz="0.00595941566724504" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_frame_link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.003890 0.032762 -0.000003"
        rpy="0 0 0" />
      <geometry>
        <box size="0.210000 0.078115 0.120000" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_frame_joint_left"
    type="fixed">
    <origin
      xyz="0.01 -0.105 0.0970000000000001"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="pad_link_left" />
    <child
      link="hip_frame_link_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_left_1">
    <inertial>
      <origin
        xyz="0.0700000000000001 -0.00650000000000001 0"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.45877499995411E-05"
        ixy="1.20009311314649E-22"
        ixz="8.30092288309214E-20"
        iyy="0.000338559690951383"
        iyz="-9.12645292528991E-22"
        izz="0.000317254074187252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.069889 -0.006563 0.000104"
        rpy="0 0 0" />
      <geometry>
        <box size="0.191952 0.013000 0.048577" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_left_1"
    type="revolute">
    <origin
      xyz="0.0509999999999999 0.06 0"
      rpy="3.14159265358979 -1.10060010562748 0" />
    <parent
      link="hip_frame_link_left" />
    <child
      link="thigh_left_1" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="20" velocity="50" />
  </joint>
  <link
    name="calf_left_link_1">
    <inertial>
      <origin
        xyz="-0.090000000000004 0.00650000000000001 -1.26010313294955E-14"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328744E-05"
        ixy="-1.01767331707672E-21"
        ixz="2.82061971435682E-19"
        iyy="0.000603757766611385"
        iyz="1.60553433340466E-21"
        izz="0.000577401649847254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_left_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.089940 0.006492 -0.000709"
        rpy="0 0 0" />
      <geometry>
        <box size="0.231079 0.013000 0.054738" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_left_1"
    type="revolute">
    <origin
      xyz="0.14 0 0"
      rpy="3.14159265358979 -1.32012929338845 3.14159265358979" />
    <parent
      link="thigh_left_1" />
    <child
      link="calf_left_link_1" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="20" velocity="50" />
  </joint>
  <link
    name="wheel_link_left">
    <inertial>
      <origin
        xyz="-1.19348975147204E-14 0.015 9.43689570931383E-15"
        rpy="0 0 0" />
      <mass
        value="0.234111484545512" />
      <inertia
        ixx="0.00016481448512004"
        ixy="-1.32690051411216E-21"
        ixz="5.22185070698748E-40"
        iyy="0.000294512247558254"
        iyz="-2.10584729793552E-35"
        izz="0.00016481448512004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wheel_link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.015 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
        <cylinder radius="0.051" length="0.030" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_left"
    type="continuous">
    <origin
      xyz="-0.180000000000001 -0.001 0"
      rpy="0 0.849933072221034 3.14159265358979" />
    <parent
      link="calf_left_link_1" />
    <child
      link="wheel_link_left" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="thigh_left_2">
    <inertial>
      <origin
        xyz="0.070000000000028 -0.00649999999999995 1.5709655798446E-14"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.45877499995411E-05"
        ixy="9.56387908957927E-23"
        ixz="2.09217137971812E-19"
        iyy="0.000338559690951383"
        iyz="-8.64626990961496E-22"
        izz="0.000317254074187252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.069911 -0.006550 -0.000255"
        rpy="0 0 0" />
      <geometry>
        <box size="0.192302 0.013000 0.047977" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_left_2"
    type="revolute">
    <origin
      xyz="-0.0510000000000005 0.078 0"
      rpy="0 -0.885520670756392 3.14159265358979" />
    <parent
      link="hip_frame_link_left" />
    <child
      link="thigh_left_2" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="0" velocity="50" />
  </joint>
  <link
    name="calf_left_link_2">
    <inertial>
      <origin
        xyz="-0.0899999999999782 -0.00650000000000001 -9.43689570931383E-16"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328746E-05"
        ixy="-2.78667643596755E-21"
        ixz="-6.43745039913268E-20"
        iyy="0.000603757766611385"
        iyz="3.69476548884528E-21"
        izz="0.000577401649847254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_left_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.089940 -0.006508 -0.000709"
        rpy="0 0 0" />
      <geometry>
        <box size="0.231079 0.013000 0.054738" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_left_2"
    type="revolute">
    <origin
      xyz="0.139999999999993 -0.013 0"
      rpy="3.14159265358979 1.40616950507853 3.14159265358979" />
    <parent
      link="thigh_left_2" />
    <child
      link="calf_left_link_2" />
    <axis
      xyz="0 1 0" />
      <limit lower="-1.5708" upper="1.5708" effort="0" velocity="50" />
  </joint>

  <!-- ================================================================
       LOOP-CLOSING JOINTS — 5-bar parallel linkage
       Sau khi import vào Isaac Sim, vào Stage tìm 2 joint này và
       bật: Physics > Exclude from Articulation = True
       ================================================================ -->

  <!-- RIGHT leg: calf_right_link_2 tip ↔ wheel_link_right -->
  
  <joint name="close_loop_right" type="revolute">
    <origin xyz="-0.18 -0.03 0" rpy="0.0 -0.6337 -3.1416" />
    <parent link="calf_right_link_2" />
    <child  link="wheel_link_right"  />
    <axis   xyz="0 1 0" />
    <limit lower="-3.14159" upper="3.14159" effort="0" velocity="100" />
  </joint>
 

  <!-- LEFT leg: calf_left_link_2 tip ↔ wheel_link_left -->
  
  <joint name="close_loop_left" type="revolute">
    <origin xyz="-0.18 0.03 0" rpy="0.0 -0.7209 -3.1416" />
    <parent link="calf_left_link_2" />
    <child  link="wheel_link_left"  />
    <axis   xyz="0 1 0" />
    <limit lower="-3.14159" upper="3.14159" effort="0" velocity="100" />
  </joint>
 
</robot>