<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.100464743379373 -0.273417797162494 0.231369380364405"
        rpy="0 0 0" />
      <mass
        value="8.12765796417228" />
      <inertia
        ixx="0.113381267165392"
        ixy="-1.10883716950187E-17"
        ixz="6.53856800641098E-18"
        iyy="0.104302535100205"
        iyz="7.39699722855432E-05"
        izz="0.193324449577809" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="pad_link_right">
    <inertial>
      <origin
        xyz="-3.55729214853301E-05 -0.105 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="1.05976991118431" />
      <inertia
        ixx="0.00120769274628234"
        ixy="-5.29395592033938E-22"
        ixz="8.824233070056E-20"
        iyy="0.0023325641456101"
        iyz="-2.4525925475937E-21"
        izz="0.00141046839633323" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/pad_link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/pad_link_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pad_joint_right"
    type="fixed">
    <origin
      xyz="-0.0145352566206275 -0.168456056407975 0.153440174945304"
      rpy="-3.14159265358979 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="pad_link_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_frame_link_right">
    <inertial>
      <origin
        xyz="-0.00787535032168385 -0.0307485208640013 6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="1.51193274122872" />
      <inertia
        ixx="0.00230798720358944"
        ixy="-0.000347926290296318"
        ixz="1.89078126881913E-19"
        iyy="0.00722477501190136"
        iyz="4.08813026916916E-19"
        izz="0.00595941566724505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/hip_frame_link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/hip_frame_link_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_frame_joint_right"
    type="fixed">
    <origin
      xyz="0.01 -0.105 0.097"
      rpy="0 0 1.5707963267949" />
    <parent
      link="pad_link_right" />
    <child
      link="hip_frame_link_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_right_1">
    <inertial>
      <origin
        xyz="0.0700000000000471 0.00650000000000001 -4.08895139969445E-13"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.4587749999541E-05"
        ixy="-1.36515067319353E-21"
        ixz="1.53967296404782E-15"
        iyy="0.000338559690951383"
        iyz="2.19953294954768E-21"
        izz="0.000317254074187252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_right_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_right_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_1"
    type="continuous">
    <origin
      xyz="0.0510000000000153 -0.06 0"
      rpy="3.14159265358979 -1.10816260407562 0" />
    <parent
      link="hip_frame_link_right" />
    <child
      link="thigh_right_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="calf_right_link_1">
    <inertial>
      <origin
        xyz="-0.0900000000007728 -0.00650000000000001 2.68611521914153E-13"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328743E-05"
        ixy="9.05353026545483E-22"
        ixz="9.29316268849425E-16"
        iyy="0.000603757766611383"
        iyz="2.33468699611553E-22"
        izz="0.000577401649847252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_right_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_right_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_right_1"
    type="continuous">
    <origin
      xyz="0.13999999999996 0 0"
      rpy="3.14159265358979 -1.31007351696931 3.14159265358979" />
    <parent
      link="thigh_right_1" />
    <child
      link="calf_right_link_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_link_right">
    <inertial>
      <origin
        xyz="4.36872760189999E-14 -0.015 9.0116802908824E-13"
        rpy="0 0 0" />
      <mass
        value="0.234111484545512" />
      <inertia
        ixx="0.00016481448512004"
        ixy="-1.38494337144744E-21"
        ixz="-2.5410988417629E-21"
        iyy="0.000294512247558254"
        iyz="3.31377145312428E-21"
        izz="0.00016481448512004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/wheel_link_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/wheel_link_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_right"
    type="continuous">
    <origin
      xyz="-0.180000000000025 0.000999999999999987 0"
      rpy="0 0.928798996028179 3.14159265358979" />
    <parent
      link="calf_right_link_1" />
    <child
      link="wheel_link_right" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="thigh_right_2">
    <inertial>
      <origin
        xyz="0.0699999999999911 0.00649999999999999 -2.58071342074118E-13"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.45877499995411E-05"
        ixy="6.9352432719385E-22"
        ixz="1.05707424828379E-15"
        iyy="0.000338559690951382"
        iyz="-2.84526358354157E-21"
        izz="0.000317254074187251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_right_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_right_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_2"
    type="continuous">
    <origin
      xyz="-0.0510000000000018 -0.078 0"
      rpy="0 -0.886862904121189 3.14159265358979" />
    <parent
      link="hip_frame_link_right" />
    <child
      link="thigh_right_2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="calf_right_link_2">
    <inertial>
      <origin
        xyz="-0.0899999999994293 0.00649999999999999 3.56492613207138E-13"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328744E-05"
        ixy="-2.23748770220882E-21"
        ixz="2.01531838634784E-15"
        iyy="0.000603757766611383"
        iyz="-1.81007091485894E-21"
        izz="0.000577401649847252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_right_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_right_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_right_2"
    type="continuous">
    <origin
      xyz="0.140000000000064 0.013 0"
      rpy="3.14159265358979 1.39896599112596 3.14159265358979" />
    <parent
      link="thigh_right_2" />
    <child
      link="calf_right_link_2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="pad_link_left">
    <inertial>
      <origin
        xyz="-3.5572921485344E-05 -0.105 2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="1.05976991118431" />
      <inertia
        ixx="0.00120769274628234"
        ixy="1.05879118406788E-22"
        ixz="-2.33498734180828E-19"
        iyy="0.0023325641456101"
        iyz="1.83171406703271E-21"
        izz="0.00141046839633323" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/pad_link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/pad_link_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pad_joint_left"
    type="fixed">
    <origin
      xyz="0.215464743379373 -0.378456056407975 0.153440174945304"
      rpy="3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="pad_link_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_frame_link_left">
    <inertial>
      <origin
        xyz="-0.0078753503216839 0.0307485208640013 -6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="1.51193274122872" />
      <inertia
        ixx="0.00230798720358944"
        ixy="0.000347926290296318"
        ixz="-1.35078386623163E-18"
        iyy="0.00722477501190135"
        iyz="8.40488619506597E-20"
        izz="0.00595941566724504" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/hip_frame_link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/hip_frame_link_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hil_frame_joint_left"
    type="fixed">
    <origin
      xyz="0.01 -0.105 0.0970000000000001"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="pad_link_left" />
    <child
      link="hip_frame_link_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_left_1">
    <inertial>
      <origin
        xyz="0.07 -0.00649999999999995 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.45877499995411E-05"
        ixy="5.27965569542743E-23"
        ixz="8.30092288309214E-20"
        iyy="0.000338559690951383"
        iyz="-9.12645292528991E-22"
        izz="0.000317254074187252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_left_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_left_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_1"
    type="continuous">
    <origin
      xyz="0.0509999999999999 0.06 0"
      rpy="3.14159265358979 -1.10060010562748 0" />
    <parent
      link="hip_frame_link_left" />
    <child
      link="thigh_left_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="calf_left_link_1">
    <inertial>
      <origin
        xyz="-0.0899999999999976 0.00650000000000001 7.66053886991358E-15"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328744E-05"
        ixy="-6.23776929673658E-21"
        ixz="2.64274279543342E-19"
        iyy="0.000603757766611385"
        iyz="2.42468484584563E-22"
        izz="0.000577401649847254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_left_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_left_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_joint_left_1"
    type="continuous">
    <origin
      xyz="0.14 0 0"
      rpy="3.14159265358979 -1.32012929338845 3.14159265358979" />
    <parent
      link="thigh_left_1" />
    <child
      link="calf_left_link_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_link_left">
    <inertial>
      <origin
        xyz="4.63518112781003E-15 0.015 -5.10702591327572E-15"
        rpy="0 0 0" />
      <mass
        value="0.234111484545512" />
      <inertia
        ixx="0.00016481448512004"
        ixy="-1.32690051411216E-21"
        ixz="5.22185070698748E-40"
        iyy="0.000294512247558254"
        iyz="-2.10584729793552E-35"
        izz="0.00016481448512004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/wheel_link_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/wheel_link_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_left"
    type="continuous">
    <origin
      xyz="-0.180000000000001 -0.001 0"
      rpy="0 0.849933072221034 3.14159265358979" />
    <parent
      link="calf_left_link_1" />
    <child
      link="wheel_link_left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="thigh_left_2">
    <inertial>
      <origin
        xyz="0.0699999999999821 -0.00649999999999995 -1.00475183728577E-14"
        rpy="0 0 0" />
      <mass
        value="0.116525440310417" />
      <inertia
        ixx="2.45877499995411E-05"
        ixy="2.25113385230681E-22"
        ixz="2.15993401549847E-19"
        iyy="0.000338559690951383"
        iyz="-1.13788144941437E-21"
        izz="0.000317254074187252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_left_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/thigh_left_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thigh_joint_2"
    type="continuous">
    <origin
      xyz="-0.0510000000000005 0.078 0"
      rpy="0 -0.885520670756392 3.14159265358979" />
    <parent
      link="hip_frame_link_left" />
    <child
      link="thigh_left_2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="calf_left_link_2">
    <inertial>
      <origin
        xyz="-0.0900000000000073 -0.00650000000000001 1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.142525440310417" />
      <inertia
        ixx="3.03705833328745E-05"
        ixy="-3.00074510556189E-21"
        ixz="-1.04185052512279E-19"
        iyy="0.000603757766611385"
        iyz="2.89004002464875E-21"
        izz="0.000577401649847254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_left_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot.SLDASM/meshes/calf_left_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="calf_left_joint_1"
    type="continuous">
    <origin
      xyz="0.139999999999993 -0.013 0"
      rpy="3.14159265358979 1.40616950507853 3.14159265358979" />
    <parent
      link="thigh_left_2" />
    <child
      link="calf_left_link_2" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>